<app-nav></app-nav>
<header>
    <h1>Sección de Recetarios y Mezclas de Aromaterapia</h1>
</header>
<section class="recipes-section">
    <br>
    <h2>Recetas</h2>
        <div class="recipe-card">
            <img src="/assets/img/receta1.jpg" alt="Receta 1">
            <h3>Leche corporal con ácido hialurónico y aceites esenciales</h3>
            <a href="#">Ver más</a>
        </div>
            <div class="recipe-card">
            <img src="/assets/img/receta2.jpg" alt="Receta 2">
            <h3>Sinergia “Rescate cineol” para el invierno</h3>
            <a href="#">Ver más</a>
        </div>
    <div class="recipe-card">
        <img src="/assets/img/receta3.jpg" alt="Receta 3">
        <h3>Roll-on de agua perfumada: azahar y bergamota</h3>
        <a href="#">Ver más</a>
    </div>
    <h2>Mezclas</h2>
        <div class="recipe-card">
            <img src="/assets/img/mezcla1.jpg" alt="Receta 1">
            <h3>Crema facial con ácido hialurónico y premium antiedad</h3>
            <a href="#">Ver más</a>
        </div>
            <div class="recipe-card">
            <img src="/assets/img/mezcla2.jpg" alt="Receta 2">
            <h3>Agua perfumada de magnolia y osmanthus</h3>
            <a href="#">Ver más</a>
        </div>
    <div class="recipe-card">
        <img src="/assets/img/mezcla3.jpg" alt="Receta 3">
        <h3>Aceite para relajar músculos cargados "Descanso Pleno"</h3>
        <a href="#">Ver más</a>
    </div>
</section>  
<app-footer></app-footer>