.container{
    padding: 10px;
    margin-top: 10px;
    border: solid black 1px;
    border-radius: 1.5px;
    height: 50%;
    align-items: center;
    text-align: center;
}
.container{
    padding: 10px;
    margin-top: 10px;
    border-radius: 1.5px;
    height: 50%;
    align-items: center;
    text-align: center;
}
.btn{
    width: 850px;
    margin: 3px;
    font-family: sans-serif;
    font-size: 1.5rem;
}

.collapse{
    font-family: sans-serif;
    font-size: 1.3rem;
}
.card{
    align-items: center;
    text-align: center;
    width: 80%;
    justify-content: center;
}