<app-nav></app-nav>
<body>
  

<div class="container-fluid">
    <div class="container">
        <h1 class="Titulo">Preguntas frecuentes</h1>
        <p>
            <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                ¿Qué es la aromaterapia y cómo funciona?
            </a>
        </p>
          <div class="collapse" id="collapseExample">
            <div class="card container card-body">
                La aromaterapia es una práctica terapéutica que utiliza aceites esenciales derivados de plantas para promover el bienestar físico, mental y emocional. Los aceites esenciales se inhalan o se aplican sobre la piel, y sus compuestos químicos pueden tener efectos beneficiosos en el cuerpo y la mente.            </div>
          </div>
          
          <p>
            <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample2">
                ¿Cómo se utilizan los aceites esenciales en la aromaterapia?
            </a>
        </p>
          <div class="collapse" id="collapseExample2">
            <div class="card container card-body">
                Los aceites esenciales se pueden utilizar de diversas maneras: inhalación directa, difusión en el aire, aplicación tópica diluida en aceites portadores o añadidos a productos como lociones o geles de baño.            </div>
          </div>
        <p>
            <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample3" role="button" aria-expanded="false" aria-controls="collapseExample2">
                ¿Cuáles son los beneficios de la aromaterapia para la salud y el bienestar?
            </a>
        </p>
          <div class="collapse" id="collapseExample3">
            <div class="card container card-body">
                La aromaterapia puede ayudar a aliviar el estrés, mejorar el estado de ánimo, promover la relajación, aliviar dolores y molestias, mejorar la calidad del sueño, aumentar la concentración y mejorar el bienestar general.            </div>
          </div>
        <p>
            <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample4" role="button" aria-expanded="false" aria-controls="collapseExample2">
                ¿Puedo utilizar la aromaterapia para aliviar el estrés y la ansiedad?            </a>
        </p>
          <div class="collapse" id="collapseExample4">
            <div class="card container card-body">
                Sí, la aromaterapia puede ser útil para aliviar el estrés y la ansiedad. Algunos aceites esenciales como la lavanda, la manzanilla y el incienso tienen propiedades relajantes y pueden promover la calma y el equilibrio emocional.            </div>
          </div>

        <p>
            <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample5" role="button" aria-expanded="false" aria-controls="collapseExample2">
                ¿Cuáles son las precauciones y consideraciones de seguridad al usar aceites esenciales?
            </a>
        </p>
          <div class="collapse" id="collapseExample5">
            <div class="card container card-body">
                Algunas precauciones incluyen diluir los aceites esenciales antes de aplicarlos sobre la piel, evitar el contacto con los ojos y mantenerlos fuera del alcance de los niños. Además, es importante conocer las contraindicaciones y posibles interacciones con medicamentos.            </div>
          </div>

          <p>
            <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample6" role="button" aria-expanded="false" aria-controls="collapseExample2">
                ¿Cuáles son los aceites esenciales más populares y para qué se utilizan?            </a>
        </p>
          <div class="collapse" id="collapseExample6">
            <div class="card container card-body">
                Algunos aceites esenciales populares incluyen lavanda (relajación y sueño), menta (estimulación y enfoque), árbol de té (propiedades antimicrobianas), eucalipto (descongestión respiratoria) y limón (energizante y revitalizante).          </div>
            </div>
        </div>
</div>
</body>