  /* Encabezado */
  header {
      display: flex;
      background-color: #ffffff;
      padding: 20px;
      /* text-align: center; */
      justify-content: center;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  /* Encabezado */


  /* Estilos del main */
  .product-details {
      margin-top: 50px;
      display: flex;
      justify-content: space-between;
      width: 100%;
  }

  .cont-hijo {
      /* width: 80%; */
      width: 70%;
      display: flex;
      justify-content: center;
      margin: 0 auto;
      /* max-height: 550px; */
  }


  .product-images img {
      /* max-width: 100%; */
      max-width: 500px;
      margin-bottom: 10px;
      /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  }

  .product-info {
      flex: 1;
      padding-left: 20px;
      /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
      /* height: 640px; */
  }

  .product-title {
      font-size: 30px;
      margin-top: 0;
      /* font-weight: bold; */
  }

  .product-description {
      /* margin-top: 10px; */
      margin: 10px 20px;
      text-align: justify;
  }

  .product-price {
      /* font-size: 18px; */
      /* font-size: 50px; */
      font-size: 40px;
      font-weight: bold;
      margin-top: 10px;

      padding: 0 20%;
      /* margin: 0 auto; */
  }

  /* COMENTARIOS */
  .cont-padre {
      display: flex;
      justify-content: center;
      width: 100%;
  }

  .contenedor {
      width: 60%;
      margin: 30px 0px;
  }

  .product-features ul {
      margin-top: 20px;
  }

  .product-reviews {
      /* margin-top: 20px; */
      margin-top: 60px;
  }

  .review {
      border: 1px solid #ccc;
      padding: 10px;
      margin-bottom: 10px;
  }

  .review-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 5px;
  }

  .review-user {
      font-weight: bold;
  }

  .review-rating {
      font-size: 18px;
  }

  .review-text {
      margin-top: 0;
  }

  /* COMENTARIOS */
  .titulo {
      display: flex;
      justify-content: center;
      padding-top: 6%;
  }

  #btn {
      display: flex;
      padding: 0 25px;
      justify-content: space-between;
  }

  #btn-verde {
      padding: 10px 20px;
      /* padding: 10px 20px 0px 20px; */

      background-color: #4CAF50;
      color: white;
      border: none;
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.3s ease;
  }

  #btn-azul {
      text-align: center;
      padding: 10px 20px;

      /* padding: 10px 20px 0px 20px; */
      background-color: #3983f1;
      color: white;
      border: none;
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.3s ease;
  }

  #btn-rojo {
      text-align: center;
      padding: 10px 20px;
      /* padding: 10px 20px 0px 20px; */
      background-color: #f13f39;
      color: white;
      border: none;
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      margin: 0px 0px 0px 10px;
  }

  /* Estilos del footer */

  /* Comentarios */

  /* Estrellas producto */
  .calificacion {
      display: flex;
      /* justify-content: center; */
      /* justify-content: start; */
      justify-content: space-between;
      padding-left: 4%;
  }

  .tamanio {
      font-size: 20px;
  }

  /* Estrellas producto */

  /* TextArea Comentarios */
  /* .cont_textarea {
      max-width: 200px;
      max-height: 200px 
  } */

  /* TextArea Comentarios */