<app-nav></app-nav>
<body>
    <div class="product-details">
        <img class="product-image" src="assets/img/img1.jpeg" alt="Producto 1">
        <h2 class="product-title">Producto 1</h2>
        <p class="product-description">Descripción del producto 1.</p>
        <p class="product-price">$19.99</p>
        <a href="#" class="product-link">Agregar al carrito</a>
    </div>
</body>

<app-footer></app-footer>


<!-- <body>
    <div class="product-details">
        <div class="product-image">
            <img src="assets/img/img1.jpeg" alt="Producto 1">
        </div>
        <div class="product-info">
            <h2 class="product-title">Producto 1</h2>
            <p class="product-description">Descripción del producto 1.</p>
            <p class="product-price">$19.99</p>
            <button class="product-button">Añadir al carrito</button>
        </div>
    </div>
</body> -->
