<body>


    <header>
        <h1>Catálogo de Aromaterapia</h1>
    </header>

    <div class="container">
        <div class="product-list">
            <div class="product">
                <img src="assets/img/img1.jpeg" alt="Producto 1">
                <h2 class="product-title">Producto 1</h2>
                <p class="product-description">Descripción del producto 1.</p>
                <p class="product-price">$19.99</p>
            </div>

            <div class="product">
                <img src="assets/img/img2.jpeg" alt="Producto 2">
                <h2 class="product-title">Producto 2</h2>
                <p class="product-description">Descripción del producto 2.</p>
                <p class="product-price">$24.99</p>
            </div>

            <div class="product">
                <img src="assets/img/img3.jpeg" alt="Producto 3">
                <h2 class="product-title">Producto 3</h2>
                <p class="product-description">Descripción del producto 3.</p>
                <p class="product-price">$14.99</p>
            </div>

            <div class="product">
                <img src="assets/img/img4.jpeg" alt="Producto 4">
                <h2 class="product-title">Producto 4</h2>
                <p class="product-description">Descripción del producto 4.</p>
                <p class="product-price">$29.99</p>
            </div>

            <div class="product">
                <img src="assets/img/img5.jpeg" alt="Producto 5">
                <h2 class="product-title">Producto 5</h2>
                <p class="product-description">Descripción del producto 5.</p>
                <p class="product-price">$34.99</p>
            </div>

            <div class="product">
                <img src="assets/img/img6.jpeg" alt="Producto 6">
                <h2 class="product-title">Producto 6</h2>
                <p class="product-description">Descripción del producto 6.</p>
                <p class="product-price">$34.99</p>
            </div>
        </div>
    </div>

    <footer>
        <p>Todos los derechos reservados &copy; 2023</p>
    </footer>

</body>