<app-nav></app-nav>

<body>
    <header>
        <h1>Catálogo de Aromaterapia</h1>
    </header>

    <div class="container">
        <form class="search-form">
            <input type="text" class="search-input" placeholder="Buscar productos...">
            <button type="submit" class="search-button">Buscar</button>
        </form>

        <div class="container">
            <div class="product-list">

                <a *ngFor="let item of list_pro" (click)="prod_detalles(item.id)"  routerLink="/productos" class="product-link">
                    <div class="product">
                        <!-- <img src="assets/img/img1.jpeg" alt="Producto 1"> -->
                        <img src="{{item.img}}" alt="Producto 1">
                        <h2 class="product-title">{{item.nombre}}</h2>
                        <p class="product-description">{{item.categoria}}</p>
                        <p class="product-price"> ${{item.precio}} MXN</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
    
    <app-footer></app-footer>
</body>

