<header>
    <nav>
        <div class="logo">
            <img src="assets/img/icono.png" alt="Logo">
            <h1 class="site-name">Aromaterapia.com</h1>
        </div>
        <ul class="nav-links">
            <li class="nav-item">
                <a routerLink="/" class="nav-link">Inicio</a>
            </li>
            <li class="nav-item">
                <a routerLink="/catalogo" class="nav-link">Catálogo</a>
            </li>
            <li class="nav-item">
                <a routerLink="/login" class="nav-link">Inicio de sesión</a>
            </li>
            <li class="nav-item">
                <a routerLink="/contacto" class="nav-link">Contacto</a>
            </li>
        </ul>
    </nav>
</header>



