<footer>
    <div class="footer-content">
        <div class="site-sections">
            <h3>Secciones del sitio</h3>
            <ul>
                <li><a routerLink="/">Inicio</a></li>
                <li><a routerLink="/catalogo">Catálogo</a></li>
                <li><a routerLink="/contacto">Contacto</a></li>
            </ul>
        </div>
        <div class="social-media">
            <h3>Redes sociales</h3>
            <ul>
                <li><a href="https://www.facebook.com/">Facebook</a></li>
                <li><a href="https://www.twitter.com/">Twitter</a></li>
                <li><a href="https://www.instagram.com/">Instagram</a></li>
            </ul>
        </div>
    </div>
</footer>

<!-- <div class="div-derechos"> -->
    <div id="derechos">
        <p>Todos los derechos reservados &copy; 2023</p>
    </div>
<!-- </div> -->